*{
    padding: 0;margin: 0;  list-style-type: none;  

}

header{
    display: flex;
    padding: 20px 0;
    background: linear-gradient(to right, #434343 0%, black 100%);

}
header a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}


.right{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}


